body
{
    font-family: arial, sans-serif;
    text-align: center;
}
#nav
{
    width:100%;
    height: auto;
 background-color: khaki;
	background-size: auto;
}
#nav h1{
	text-align: left;
	font-size: 50px;
}

#nav_wrapper{
  height: 100px;
  width: 1000px;
  background: #377D7A;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;
	filter: alpha (opacity=70);
	margin-bottom: 10px;
}
#nav_wrapper ul{
    margin-top: 100px;
}
#nav_wrapper ul li
{
    list-style: none;
    display: inline;
	font-weight: bold;
    padding: 10px;
	margin-top: 10px;
}
#nav_wrapper a{
  
    text-decoration: none;

}
